{% extends 'sousbase.html' %}
{% load static %}
{% block title %}A Propos de Nous!{% endblock title %}

{% block sousbase %}

<div class="about my-4"> 
    <!-- <img src="{% static 'img/about.png' %}" class="w-100 h-20 pb-4" alt="A Propos de la  Cadre de Concertation Nationale de la Société Civile Congolaise"> -->

    <div class="container banner">       
        <h2>A Propos de Nous</h2>
    </div>


    <div class="wrapper">
        <h1>Notre coordination</h1>
        <div class="team">
            {% for team in team_list %}
                <div class="team_member shadow-lg">
                    <div class="team_img">
                        <img src="{{ team.team_image.url }}" alt="{{ team.team_name }}">
                    </div>
                    <h3><a href="{% url 'ourteam:team' team.id %}">{{ team.team_name|truncatechars:25 }}</a></h3>
                    <p class="role">{{ team.team_designation }}</p>
                    <p>
                       {{ team.team_description|truncatechars:100 }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>	
</div>

{% endblock sousbase %}
